/* AccessDeniedPage.css */

.access-denied-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f9fa; /* Set your desired background color */
  }
  
  h1 {
    color: #dc3545; /* Set your desired text color */
  }
  
  p {
    color: #343a40; /* Set your desired text color */
  }
  